.para-1 {
    border: 5px solid grey;
}

.para-2 {
    border-left: 5px solid grey;
}

.para-3 {
    border-right: 5px solid grey;
}

.para-4 {
    border-top: 5px solid grey;
}

.para-5 {
    border-bottom: 5px solid grey;
}

.para-6 {
    border: 5px solid grey;
    border-radius: 10px;
}

.circle {
    width: 50px;
    height: 50px;
    background-color: aqua;
    border-radius: 50%;
}