* {
    margin: 0;
    padding: 0;
}

.container-1 {
    display: flex;
}

.container-2 {
    display: flex;
    flex-direction: column;
}

.box1, .box2, .box3 {
    width: 100px;
    height: 100px;
    background-color: orange;
    margin: 10px;
}