* {
    margin: 0;
    padding: 0;
}

.container-2 {
    display: flex;
}

.container-3 {
    display: flex;
    gap: 10px;
    margin: 10px;
    /* row-gap: 10px; */
    /* column-gap: 20px; */
}

.box1, .box2, .box3 {
    width: 100px;
    height: 100px;
    background-color: orange;
}

.box-margin {
    margin: 10px;
}