.container-1, .container-2, .container-3 {
    width: 100px;
    height: 100px;
    background-color: red;
}

.container-1 {
    transition: all 0.5s ease-in-out 3s;
}

.container-1:hover {
    width: 200px;
    height: 200px;
    background-color: aqua;
}

.container-2 {
    transform: scale(1);
    transition: transform 0.3s ease;
}

.container-2:hover {
    transform: scale(1.1);
}